# Put the customer key here. If you don't have it, it might be
# in https://docs.google.com/document/d/1JpLip2Im55AJGweKhH_rMu86766vRwyXJOI5dt7kST0/edit.
LHI_CUSTOMER_KEY=

# Put the postback URL here. Consider using e.g. http://postb.in/.
LHI_POSTBACK_URL=
